
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); //add fonts by Bootstrap
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css); // Normalize CSS CDN
* {
  outline: none;
  font-family: "Universe", sans-serif; }

html, body{
  font-size: 12px;
}
p{
  margin: 0;
}
