*{
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(224, 2, 2); */
  
}

html {
    height: 100%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
  }
body {
    height: 100%;
  }
.wraper {
  min-width: 100%;
  min-height: 100%;  
  }
.container {
  max-width: 1140px;
 }

.container__header {
  height: 61px;
  background: #000;
  margin-left: auto;
  margin-right: auto;
}

.container__header--inner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", Helvetica, sans-serif !important;
  line-height: 1.3em;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-font-smoothing: antialiased;
 }

.container__content{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 0px;
  outline: none;
  border:3px solid black;
  border-radius: 10px;
  }

.container__content__column1{
  
  }

.container__content--indent{
  margin-top: 10px;
  }

.flex__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}
.flex__container .item {
  background: red;

}
/* 
  --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    srcset===
}
 */
@media (max-width: 640px) {
  /* mobile */

  .flex__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }
  .flex__container .item {
    background: red;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  
}

@media (min-width: 641px) and (max-width: 960px) {

}
@media (min-width: 961px) and (max-width: 1200px){

}